@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	font-family: "Segoe UI";
}

#header{
	margin:0 auto;
	background:url(../imgs/headerbg.png) repeat-x;
	height:142px;
}

.logo{
	margin-top: 30px;
}
#menu{
	margin:0 auto;
	background:url(../imgs/menubar.png) repeat-x;
	height:46px;
	color:#ffffff;
}

#menu ul{
	list-style-type: none ;
	padding-top:8px;
}

#menu li{
	display:inline;
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
	background-position: 0px 1px;
	padding-left:5px;
	padding-right:5px;
}

#menu li a:link, a:visited{
	color:#ffffff;
	text-decoration:none;
	padding:3px 8px 3px 8px;
}

#menu li a:hover{
	background:#d1382d;
	border-radius:8px;
	box-shadow: 0 4px 2px rgba(0,0,0,0.2) inset;
}

#menu li a:active{
	background:#c42f2f;
	box-shadow: 0 4px 2px rgba(0,0,0,0.2) inset;
	border-radius:8px;
	
}

#menu ul>li:first-child{
	background:none;
}
	
.container{
	margin:0 auto;
	width:900px;
}

/* Search Form */

.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}    

.search-form {
   width: 450px;
    background: #444;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
 
/* Form text input */
 
.search-form input {
    width: 330px;
    height: 20px;
    padding: 10px 5px;
    float: left;    
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #fff;
    border-radius: 3px 0 0 3px;      
}
 
.search-form input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.search-form input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.search-form input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.search-forminput:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
/* Form submit button */
.search-form button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d1382d;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
   
.search-form button:hover{     
    background: #e54040;
}   
   
.search-form button:active,
.search-form button:focus{   
    background: #c42f2f;
    outline: 0;   
}
 
.search-form button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}
 
.search-form button:hover:before{
    border-right-color: #e54040;
}
 
.search-formbutton:focus:before,
.search-form button:active:before{
        border-right-color: #c42f2f;
}      
 
.search-form button::-moz-focus-inner {
    border: 0;
    padding: 0;
}    

.logoContainer{
	margin:0 auto;
	float: left;
	width:350px;
}

.searchContainer{
	padding-top:60px;
	margin:0 auto;
	float: right;
}

#main{
	margin-top:15px;
	overflow:auto;
	margin-bottom:20px;
}

.news{
	margin:0 auto;
	float:left;
	width: 698px;
	min-height:500px;
	border:solid 1px #CCC;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .2);
	padding-bottom:20px;
	margin-bottom:80px;
}
.sidebar{
	margin:0 auto;
	float:left;
	width: 200px;
	min-height:500px;
	padding-top:30px;
}

.user{
	width: 200px;
	min-height: 160px;
	background: #d1382d;
	box-shadow: 6px 3px 6px rgba(0,0,0,0.1) inset;
	border:solid 1px #a21a1a;
	border-left:none;
	color:#fff;
	padding-bottom:20px;
}

.user h3{
	text-transform:uppercase;
	background:url(../imgs/user.png) no-repeat;
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
	background-position:40px 10px;
	font-weight:bold;
	font-size:14px;
	color:#ffffff;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	box-shadow: 6px 3px 6px rgba(0,0,0,0.1);
	
}

.comments{
	width: 200px;
	height: 150px;
	background: #333;
	box-shadow: 6px 3px 6px rgba(0,0,0,0.1) inset;
	border:solid 1px #000000;
	border-top:none;
	border-left:none;
}

.comments h3{
	text-transform:uppercase;
	background:url(../imgs/comments.png) no-repeat;
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
	background-position:35px 10px;
	font-weight:bold;
	font-size:14px;
	color:#ffffff;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	box-shadow: 6px 3px 6px rgba(0,0,0,0.1);
	
}

.latestNews{
	width:270px;
	float:right;
	padding-top:20px;
	padding-right:20px;
	padding-left:20px;
	border-left:solid 1px #CCCCCC;
	background-image: linear-gradient(left top, rgb(224,224,224) 0%, rgb(255,255,255) 60%);
	background-image: -o-linear-gradient(left top, rgb(224,224,224) 0%, rgb(255,255,255) 60%);
	background-image: -moz-linear-gradient(left top, rgb(224,224,224) 0%, rgb(255,255,255) 60%);
	background-image: -webkit-linear-gradient(left top, rgb(224,224,224) 0%, rgb(255,255,255) 60%);
	background-image: -ms-linear-gradient(left top, rgb(224,224,224) 0%, rgb(255,255,255) 60%);
	
	background-image: -webkit-gradient(
		linear,
		left top,
		right bottom,
		color-stop(0, rgb(224,224,224)),
		color-stop(0.6, rgb(255,255,255))
	);
}

.latestNews h3{
	color:#999;
	text-transform:uppercase;
	font-size:15px;
	font-weight:bold;
}
.latestNews ul{
	list-style-type: none ;
	padding-top:20px;
	display:none;
}
.latestNews ul>li:last-child{
	border:none;
}
.latestNews li {
	margin-bottom:5px;
	border-bottom:solid 1px #e6e6e6;
	padding-bottom:10px;
}
.latestNews li a:link,.latestNews li a:visited{
	color:#565656;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
}

.latestNews li a:hover{
	text-decoration:underline;
}

.latestNews li .time{
	float:right;
	color:#7b7b7b;
	margin-top:3px;
	font-size:11px;
}

.mostPopular{
	padding-top:20px;
	padding-right:20px;
	padding-left:20px;

}

.mostPopular h3{
	color:#999;
	text-transform:uppercase;
	font-size:15px;
	font-weight:bold;
	padding-bottom:20px;
}

.entry{
}

.latestnewsentry{
	height:130px;
}

.latestnewsentry .tnside{
	width:50px;
	height:104px;
	background:#d1382d;
	float:left;
	box-shadow: 6px 3px 6px rgba(0,0,0,0.1) inset;
	padding-top:10px;
	
}

.latestnewsentry .tnside .day{
	color:#fff;
	font-size:35px;
	font-weight:bold;
	text-align:center;
	border-bottom:dotted 1px #fff;
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
	
}

.latestnewsentry .tnside .month{
	color:#fff;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
	
}


.thumbnail{
	width:300px;
	height:50px;
	padding-top:64px;
	float:left;
}

.thumbnail .title{
	width:290px;
	height:40px;
	background:#333;
	box-shadow: inset 0 0 10px #000000;
	opacity:0.95;
	color:#fff;
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
	padding:5px;

}

.thumbnail .title a:link,.thumbnail .title a:visited{
	color:#fff;
	text-decoration:none;
}

.thumbnail .title a:hover{
	color:#fff;
	text-decoration:underline;
}

.thumbnail .category{
	font-size:12px;
	margin-top:-6px;
	color:#d1382d;
	font-weight:bold;
	text-shadow: 0 30px 20 50 rgba(0, 0 ,0, .3);
	
}

.article{
	padding:20px;
}

.article h1{
	color:#d1382d;
	text-transform:uppercase;
	font-size:15px;
	font-weight:bold;
}

.article .info{
	font-size:13px;
	color:#666;
}

.article .entry{
	font-size:13px;
	margin-top:10px;
	text-align:justify;
	line-height:20px;
}

.article .tags {
	
}
.article .tags ul{
	list-style:none;
}

.login{
	text-align:center;

}

.login input{
	margin-top:10px;
	height:25px;
	padding-left:5px;
	padding-right:5px;
}

.login .email{

}

.login .password{

}

.user .button{
	background:#bf3329;
	color:#fff;
	border:solid 1px #fff;
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
	text-transform:uppercase;
	padding-left:5px;
	padding-right:5px;

}
.user .button:hover{
	background:#d1382d;
}

	
.user .button:active{
box-shadow: 6px 3px 6px rgba(0,0,0,0.1);
}

.loggedin{
	text-align:center;
	margin-top:5px;
	color:#fff;
}

.loggedin ul{
	margin:0px;
	padding:0px;
	list-style:none;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:30px;

}
.loggedin li{
	text-align:left;


}
.loggedin li a:link,.loggedin li a:visited{
	text-decoration:none;
	font-size:14px;
	padding-left: 25px;
	color:#fff;


}
}

.loggedin ul a:hover{
	text-decoration:underline;
}

.loggedin .article{
	background:url(../imgs/createarticle.png) no-repeat;
	padding:0;
	
}

.loggedin .users{
	background:url(../imgs/manageusers.png) no-repeat;
	padding:0;
	
}

.loggedin .myprofile{
	background:url(../imgs/myprofile.png) no-repeat;
	padding:0;
	
}

.loggedin .favoritenews{
	background:url(../imgs/favoritenews.png) no-repeat;
	padding:0;
	
}

.loggedin .mynews{
	background:url(../imgs/mynews.png) no-repeat;
	padding:0;
	
}

.loggedin .managenews{
	background:url(../imgs/managenews.png) no-repeat;
	padding:0;
	
}

.loggedin .remoteservers{
	background:url(../imgs/remoteservers.png) no-repeat;
	padding:0;
	
}

.tagbox{
	font-size:13px;
	color:#fff;
	background:#d1382d;
	padding:5px;
	margin-right:5px;
}


.alltags{
margin-top:10px;
}

#footer{
	width:100%;
	height:45px;
	position:fixed;
	bottom:0;
	background: #d1382d;
	box-shadow: 6px 3px 6px rgba(0,0,0,0.1) inset;
	border:solid 1px #a21a1a;
	position:fixed;
	bottom:0px;
}

#footer .container{
	color:#fff;
	font-size:11px;
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
	margin-top:10px;
}


#footer .container img{
	float:right;
}

#footer .container .disclaimer{
	float:left;
	margin-top:5px;
}

#footer .container .icons{
	float:right;
}

html, body {
	height: 100%;
}

.alert{
	padding:20px;
	min-width:100px;
	background:#fff;
	border: solid 10px #d1382d;
	text-align:center;
	position:absolute;
	top:35px;
	right:10%;
	box-shadow: 6px 3px 6px rgba(0,0,0,0.1) inset;
	border-radius:5px;
	display:none
}

.box{
	padding:20px;
}

.box h1{
	color:#d1382d;
	text-transform:uppercase;
	font-size:15px;
	font-weight:bold;
}

.box form input{
	height:30px;
	padding-left:5px;
	font-size:15px;
	margin-top:15px;
	width:200px;
}

.box .button{
	width:142px;
	height:34px;
	border-radius:4px;
	background:#d1382d;
	color:#fff;
	border:none;
	margin-top:10px;
	font-size:14px;
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
	font-weight:bold;
	text-transform:uppercase;
	box-shadow: 0 1px 5px rgba(0,0,0,.4) inset;
}
.register{
	font-size:12px;
	text-align:center;
	padding:10px;
	color:#fff;
}

.register a{
	color:#fff;
}

.searchresults{
	position:absolute;
	width:350px;
	height:100;
	margin-top:5px;
	padding:10px;
	top:20;
	border:solid 1px #bcbcbc;
	background:#fff;
	border-radius: 3px;
	display:none;     
	font-size:13px;
}

.searchresults ul{
	list-style: none;
}

.searchresults li{
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:dashed 1px #cccccc;
}

.searchresults li a:link,.searchresults li a:visited{
		color:#d1382d;
	text-decoration: none;
}

.searchresults li a:hover{
	color:#000;
	text-decoration: none;
}

.searchresults ul>li:last-child{
	border-bottom:none;
}

.searchresults li .excerpt{
	font-style:italic
}

/* List users */
.userrow{
	padding:6px 10px 6px 10px;
	width:628px;
	border:solid 1px #cccccc;
	font-size:14px;
	margin-top:10px;
}


/* List users */
.userrow:hover{
	border:solid 1px #d1382d;
	background:#ffc1bd;
}

.gray {
	background-color:#efefef;
	

}
.userlist{
	margin-top:15px;
}

.rname{
	width:10px;
}

.remail{
	margin-left:40px;
}

.redit{
	float:right;
	background:url(../imgs/edit.png) no-repeat;
	padding-left:20px;
}

.redit a:link,.redit a:visited{
	color:#333333;
	text-decoration:none;
}

.redit a:hover{
	color:#d1382d;
	text-decoration:underline;
}

.rrole{
	font-size:12px;
	color:#fff;
	margin-left:5px;
	border-radius:3px;
	padding:0px 3px 0px 3px;
}

.editortag {
	background:#d09b1b;
}

.usertag{
		background:#333333;
}

.admintag{
	background:#d1382d;
}

.edituser{
	width:628px;
	padding:0px 10px 10px 10px;
	background: #f5f5f5;
	border:dashed 1px #cccccc;
	border-top:none;
	display:none;
	font-size:14px;

}


.edituser form{
	margin:0;
	padding:0;
}

.edituser .name {
	height:20px;
	width:150px;
	margin-right:10px;
	font-size:14px;
}

.edituser .email{
	height:20px;
	width:200px;
	margin-right:10px;
	font-size:14px;
}


.edituser .password{
	height:20px;
	width:150px;
	font-size:14px;
}

.edituser button{
	border-radius:4px;
	background:#d1382d;
	padding:5px 7px 5px 7px;
	color:#fff;
	border:none;
	font-size:12px;
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
	box-shadow: 0 1px 5px rgba(0,0,0,.4) inset;
	float:right;
	margin-top:14px;
	margin-right:10px;
}

.edituser button:active{
	background:#c42f2f;

}

.deleteuser{
	float:right;
	background:url(../imgs/delete.png) no-repeat;
	padding-left:20px;
	color:#000;
	margin-right:10px;
}

.deleteuser a:link,.deleteuser a:visited{
	color:#333333;
	text-decoration:none;
}

.deleteuser a:hover{
	color:#d1382d;
	text-decoration:underline;
}

/* Manage Remote servers */

.addserver{
	padding:0px 10px 2px 10px;
	width:628px;
	border:solid 1px #cccccc;
	font-size:14px;
	margin-top:10px;
	height:90px;
	background-color:#efefef;
}

.servernamei{
	height:10px;
	margin-right:10px;
	font-size:14px;
}

.serverurli{
	height:10px;
	width:200px;
	margin-right:10px;
	font-size:14px;
	float:right;
}

.addserver button{
	border-radius:4px;
	background:#d1382d;
	padding:5px 7px 5px 7px;
	color:#fff;
	border:none;
	font-size:12px;
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
	box-shadow: 0 1px 5px rgba(0,0,0,.4) inset;
	float:right;
	margin-top:10px;
	margin-right:10px;
}

.addserver button:active{
	background:#c42f2f;

}

.serverlist{
	margin-top:15px;
}

.serveritem{
	padding:6px 10px 6px 10px;
	width:628px;
	border:solid 1px #cccccc;
	font-size:14px;
	margin-top:10px;
}

.serveritem form input{
	width:10px;
	height:10px;
	margin-right:10px;
	margin-left:10px;
}

.servname{
	background:url(../imgs/remoteservers.png) no-repeat;
	padding-left:25px;
}

.servurl{
	background:url(../imgs/serverurl.gif) no-repeat;
	padding-left:20px;
	font-size:10px;
	font-style:italic;
}

.deleteserver{
	float:right;
	background:url(../imgs/delete.png) no-repeat;
	padding-left:20px;
}

.importnews{
	background:url(../imgs/importnews.png) no-repeat;
	padding-left:20px;
	margin-right:10px;
	float:right;
}

.serveritem input{
	margin:0;
	padding:0;
}

.serveritem .newsresulti{
	border-bottom:dashed 1px #cccccc;
	margin:0px;
	padding-bottom:10px;
}

.serveritem form button{
	margin-top:5px;
	border-radius:4px;
	background:#d1382d;
	padding:5px 7px 5px 7px;
	color:#fff;
	border:none;
	font-size:12px;
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
	box-shadow: 0 1px 5px rgba(0,0,0,.4) inset;
}

.serveritem form button:active{
	background:#c42f2f;

}

.serveritem a:link,.serveritem a:visited{
	color:#000;
	text-decoration:none;
}

.serveritem a:hover{
	color:#d1382d;
	text-decoration:underline;
}

/* partners news in homepage */
.partners{
	padding-top:20px;
	padding-right:20px;
	padding-left:20px;
	width:658px;
	border-top:solid 1px #ccc;

}

.partners h3{
	color:#999;
	text-transform:uppercase;
	font-size:15px;
	font-weight:bold;
	padding-bottom:20px;
}

.remotenewsi h5{
	color:#d1382d;
	margin:0px;
	padding:0px;
}

.remotenewsi{
	border-bottom:dashed 1px #ccc;
	padding:5px 0px 5px 0px;
	margin-bottom:5px;
}

.remotenewsi a{
	color:#888;
	font-size:12px;
	text-decoration:none;
}

.remotenewsi a:hover{
	color:#000;
	font-size:12px;
	text-decoration:underline;
}

/* Favorite News */
.favoriteicon{
	margin-left: 10px;
	
}

.newsi{
	padding-bottom:10px;
	border-bottom:dashed 1px #ccc;
	margin-bottom:10px;
}
.newslist{
	margin-top:10px;
}
.newsi a{
	color:#000;
	text-decoration:none;
}

.newsi a:hover{
	color:#d1382d;
	text-decoration:underline;
}

/* Comments */
.commentstitle{
	margin-top:10px;
	margin-bottom:10px;
}

.commenti{
	font-size:13px;
	margin:15px 0px 0px 0px;
	padding:10px;
}

.commenti .commentauthor{
	font-size:14px;
	font-weight:bold;
}

.commenti .commentdate{
	font-size:11px;
	color:#acacac;
	margin-left:10px;
	font-style:italic;
}

.commenti .commentcont{
	color:#646464;
	padding-top:10px;
}

.commenti:hover{
	background:#efefef;
	border-radius:5px;
}

.newcomment{
	padding:10px;
	border-radius:5px;
	border:solid 1px #ccc;
	width:96%;
}

.newcomment:hover{
	border:solid 1px #d1382d;
}

.addcommentbt{
	border-radius:4px;
	background:#d1382d;
	padding:5px 7px 5px 7px;
	color:#fff;
	border:none;
	font-size:12px;
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
	box-shadow: 0 1px 5px rgba(0,0,0,.4) inset;
	float:right;
	margin-top:10px;
	margin-right:10px;
}

.commentslist{
	margin-top:40px;
}

.editcomment{
	background:url(../imgs/edit.png) no-repeat;
	padding-left:20px;
	margin-left:10px;
}

.editcomment:hover{
	text-decoration:underline;
	color:#d1382d;
}

.deletecomment{
	background:url(../imgs/delete.png) no-repeat;
	padding-left:20px;
	margin-left:10px;
}

.deletecomment:hover{
	text-decoration:underline;
	color:#d1382d;
}
/* Edit Article */
.editarticlel{
	background:url(../imgs/edit.png) no-repeat;
	padding-left:20px;
	margin-left:10px;
	font-size:13px;
}

.editarticlel a{
	color:#000;
	text-decoration:none;
}
.editarticlel a:hover{
	text-decoration:underline;
	color:#d1382d;
}

.deletearticlel{
	background:url(../imgs/delete.png) no-repeat;
	padding-left:20px;
	margin-left:5px;
	font-size:13px;
}

.deletearticlel:hover{
	text-decoration:underline;
	color:#d1382d;
}

.newsi .editarticlel{
	float:right;
}

.newsi .deletearticlel{
	float:right;
}

/* Profile */
.rolethumb{
	padding:5px;
	border:solid 1px #ccc;
	width:112px;
	height:128px;
	float:left;
}

.profilebox{
	margin-top:20px;
	overflow:auto;
	margin-bottom:20px;
}

.profiledata{
	width:220px;
	float:left;
	margin-left:20px;
	height:100px;
}

.profilebox .email{
	background:url(../imgs/email.png) no-repeat;
	background-position:0px 2px;
	padding-left:20px;
	font-size:13px;
}

.profilebox .stat{
	color:#646464;
	font-size:13px;
}

.profilebox .totalcomments{
	margin-top:20px;
	background:url(../imgs/commentstiny.png) no-repeat;
	padding-left:20px;
}

.profilebox .totalarticles{
	background:url(../imgs/articlestiny.png) no-repeat;
	padding-left:20px;
	margin-top:5px;
}

.profilebox .totalfavorites{
	background:url(../imgs/favoriteyes.png) no-repeat;
	padding-left:20px;
	margin-top:5px;

}

.profilebox .aboutme{
	border-left:dashed 1px #ccc;
	height:135px;
	float:left;
	padding-left:20px;
	margin-left:20px;

}

.commentlist .commenti .where{
	font-size:12px;
	color:#d1382d;
	font-style:italic;
}

.commentlist .commenti .where a{
	color:#d1382d;
	text-decoration:none;
}

.commentlist .commenti .where a:hover{
	text-decoration:underline;
}

.commentlist .commenti{
	margin:0;
}


